@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    src:
        local('Lato-Black') url('/fonts/Lato/Lato-Black.ttf') format('truetype'),
        local('Lato-BlackItalic') url('/fonts/Lato/Lato-BlackItalic.ttf') format('truetype'),
        local('Lato-Bold') url('/fonts/Lato/Lato-Bold.ttf') format('truetype'),
        local('Lato-BoldItalic') url('/fonts/Lato/Lato-BoldItalic.ttf') format('truetype'),
        local('Lato-Hairline') url('/fonts/Lato/Lato-Hairline.ttf') format('truetype'),
        local('Lato-HairlineItalic') url('/fonts/Lato/Lato-HairlineItalic.ttf') format('truetype'),
        local('Lato-Italic') url('/fonts/Lato/Lato-Italic.ttf') format('truetype'),
        local('Lato-Light') url('/fonts/Lato/Lato-Light.ttf') format('truetype'),
        local('Lato-LightItalic') url('/fonts/Lato/Lato-LightItalic.ttf') format('truetype'),
        local('Lato-Regular') url('/fonts/Lato/Lato-Regular.ttf') format('truetype');

}